.outerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1A1A1D;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 8px;
    height: 60%;
    width: 35%;
  }

  .roomsContainer {
    position: absolute;
    left: 0px;
  }

  .room {
    border-radius: 10px;
    background-color: #333333;
    text-overflow: ellipsis;
    margin: 5px;
    padding: 2px;
    width: 300px;
    height: 100px;
    position: relative;
  }

  .room:hover {
    background-color: #f37362;
  }

  .roomName {
    padding-top: 5px;
    color: rgb(245, 245, 245);
  }

  .messageTime {
    color: rgb(245, 245, 245);
    position: absolute;
    right: 10px;
    top: 0px;
  }

  .lastMessage {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }

  .notification {
    position: absolute;
    right: 5px;
    top: 20px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }

  h5 {
    color: rgb(216, 216, 216);
  }

  .myWalrusApp {
    color: rgb(216, 216, 216);
    width: 360px;
    position: absolute;
    right: 50px;
    top: 15em;
    text-align: right;
    word-wrap: break-word;
  }

  .myWalrusContainer {
    position: absolute;
    bottom: 5px;
    right: 70px;
  }

  .myWalrusLogo {
    position: absolute;
    bottom: 18px;
    right: 80px;
    width: 28px;
    height: 32px;
  }

  .myWalrusName {
    color: rgb(245, 245, 245);
  }

  @media (min-width: 320px) and (max-width: 480px) {
    .outerContainer {
      height: 100%;
    }
  
    .container {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 480px) and (max-width: 1200px) {
    .container {
      width: 60%;
    }
  }